* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@-webkit-keyframes highlight {
  50% {
    color: #ff6337;
  }
}

@keyframes highlight {
  50% {
    color: #ff6337;
  }
}
.gradient-background {
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

button {
  padding: 0.5rem 1.5rem;
  font-size: 1.75rem;
  background-color: #289bda;
  color: #f8f8f8;
  border: none;
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
  opacity: 0.9;
}

body {
  background-color: #f8f8f8;
  padding: 1.5rem;
}
body nav {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}
@media (max-width: 600px) {
  body nav {
    font-size: 1.5rem;
  }
}
body nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
body nav ul .logo {
  padding: 0 0.2rem;
  margin-right: auto;
}
body nav ul .logo a {
  color: #121212;
}
body nav ul .apps a {
  color: #121212;
}
body nav ul .blog {
  padding: 0 0.2rem;
}
body nav ul .blog a {
  color: #121212;
}
body nav ul .about {
  padding: 0 0.2rem;
}
body nav ul .about a {
  color: #121212;
}
body nav ul .contact {
  padding: 0 0.2rem;
}
body nav ul .contact a {
  color: #121212;
}
body nav ul li {
  list-style: none;
}
body nav ul li:not(:last-child) {
  padding-right: 0.75rem;
}
body nav ul li a,
body nav ul li a:link {
  text-decoration: none;
}
body nav ul li a:hover,
body nav ul li a:link:hover {
  color: #e84393;
}
body main {
  padding: 2.25rem 25vw;
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}
body main a,
body main a:active,
body main a:visited {
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}
body main a:hover {
  color: #121212;
}
@media (max-width: 1200px) {
  body main {
    padding: 5rem 15vw;
  }
}
@media (max-width: 900px) {
  body main {
    padding: 5rem 10vw;
  }
}
@media (max-width: 600px) {
  body main {
    padding: 3rem 5vw;
  }
}
body main .container {
  padding: 0 0 3rem 0;
}
body main .container h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4.883rem;
  font-weight: 500;
  line-height: 1.25;
}
@media (max-width: 600px) {
  body main .container h2 {
    font-size: 3.662rem;
    line-height: 4rem;
  }
}
body main .container .textcenter {
  text-align: center;
}
body main .container p {
  font-size: 1.8rem;
  text-align: justify;
}
@media (max-width: 600px) {
  body main .container p {
    font-size: 1.5rem;
  }
}
body main .container p:not(:last-child) {
  padding: 1rem 0;
}
body main .container .highlight-blue {
  background-color: lightblue;
}
body main .container .highlight-orange {
  background-color: lightcoral;
}
body main .container .text-underline {
  text-decoration: underline;
}
body main .container-showcase:not(:last-child) {
  margin-bottom: 3rem;
}
body main .container-showcase h3 {
  color: #FF6961;
  font-family: "Lato", sans-serif;
  border-bottom: 0.1rem solid #FF6961;
  margin-bottom: 1rem;
}
body main .container-showcase h4 {
  font-size: 1.8rem;
  font-size: 2rem;
}
body main .container-showcase a,
body main .container-showcase a:active,
body main .container-showcase a:visited {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}
body main .container-showcase a:hover {
  background-color: #FF6961;
}
body main .container-showcase a:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  body main .container-showcase a:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
body main .container-showcase .showcase-item {
  font-family: "Lato", sans-serif;
}
@media (max-width: 600px) {
  body main .container-showcase .showcase-item {
    font-size: 1.5rem;
  }
}
body main .container-showcase .showcase-item p {
  font-size: 1.75rem;
}
body main #contact-container {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
  line-height: 1.25;
}
body main #contact-container h2 {
  font-size: 4.883rem;
}
@media (max-width: 600px) {
  body main #contact-container h2 {
    font-size: 3.662rem;
  }
}
body main #contact-container h3 {
  font-size: 3.906rem;
}
@media (max-width: 600px) {
  body main #contact-container h3 {
    font-size: 2.93rem;
  }
}
body main #contact-container h2, body main #contact-container h3 {
  font-family: "Lato", sans-serif;
}
body main #contact-container a {
  color: #ff6337;
}
body main #contact-container a:hover {
  color: #0085A8;
}
@media (max-width: 600px) {
  body main #contact-container {
    font-size: 2rem;
    padding: 0;
  }
}
body .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .image-container .image-caption {
  font-size: 1rem;
  color: #534e50;
}

.app-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  border: 0.2rem solid #534e50;
  border-radius: 1rem;
  padding: 3rem 6rem;
  font-size: 2.5rem;
}
@media (max-width: 600px) {
  .app-container {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}

.question-paragraph {
  margin: 2rem 0;
}

.option-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.option-container span:not(:last-child) {
  margin-bottom: 1rem;
}
.option-container .option:hover {
  cursor: pointer;
  color: #ff6337;
}
.option-container .option:active {
  cursor: pointer;
  color: #ff6337;
}
.option-container .option:focus {
  cursor: pointer;
  color: #ff6337;
}

.target-word {
  -webkit-animation: highlight 1.5s;
          animation: highlight 1.5s;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */