.button-back {
    padding: 0.5rem 1.5rem;
    font-size: 1.75rem;
    background-color: $button-back;
    color: #f8f8f8;
    border: none;
    border-radius: 0.5rem;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
    
}

.button-next {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background-color: $black-primary-light;
    color: #e5e5e5;
    border: none;
    border-radius: 0.5rem;
    width: 20%;
    margin-top: 2rem;
    align-self: center;
    
    &:hover {
        cursor: pointer;
        transform: translate(0, 0.1rem);
        background-color: $blue-primary-dark;
    }

    &:active {
        transform: translate(0, 0.2rem);
    }

    @include respond(phone) {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
      }
}

.button-option {
    padding: 1rem 2rem;
    font-size: 2rem;
    // background-color: white;
    color: $black-primary-light;
    border: 0.2rem solid $black-primary-light;
    border-radius: 0.5rem;

    @include respond(phone) {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
      }

    &:hover {
        cursor: pointer;
        transform: translate(0, 0.1rem);
        // background-color: $blue-primary-dark;
    }

    &:active {
        transform: translate(0, 0.2rem);
    }
}