.app-description {
  color: $black-primary-light;
  // text-decoration: underline;
}

.app-container {
  // border: 0.5rem solid $black-primary-light;
  // border-radius: 1rem;
  // padding: 1rem;
  font-size: 2.5rem;
}

.question-paragraph {
  margin-top: 2rem;
  text-align: center;
}

.target-word {
  // color: $orange-primary;
  background-color: $yellow-primary-dark;
  // background-color: $red-primary;

}