.app-title {
  @include flexcenter;
}

.app-container {
  border: 0.2rem solid $black-primary-light;
  border-radius: 1rem;
  padding: 3rem 5rem;
  font-size: 2.5rem;

  @include respond(phone) {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }



  .question-paragraph {
    margin: 2rem 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  
  }
  .option-container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
  }

  .option-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;


    button:not(:last-child) {
      margin-bottom: 1rem;
    }

  }

  .target-word {
    background-color: $yellow-primary-dark;
    padding: 0 0.2rem;
    border-radius: 0.5rem;
    // animation: highlight 1.5s;
    // text-decoration: underline;
  }


  .correct-answer {
    background-color: $green-primary-dark;
    color: white;

  }


  .wrong-answer {
    background-color: $red-primary;
    color: white;
  }


  .feedback {
    text-align: center;
    margin-top: 2rem;
    background-color: $blue-primary-dark;
    border-radius: 0.5rem;
    color: white;
    font-size: 2rem;
  }

  .feedback-correct {
    background-color: $green-primary-dark;
  }

  .feedback-wrong {
    background-color: $red-primary;
  }

}